%h3 #{@user.name}
= gravatar_for @user, size: 100
%p
  Bio: #{@user.bio}
%p
  Twitter: #{@user.twitter}
%p
  Birthdate: #{@user.birthdate}
= link_to 'Edit account', edit_user_registration_path if user_is_current_user?
%div
.row
  -@user.images.each do |image|
    .col-md-6
      =link_to image do
        =image_tag image.content.url :medium

%p
  views: #{@user.impressionist_count}
