%h3 User
%p
  User: #{@user.name}
%p
  Bio: #{@user.bio}
%p
  Twitter: #{@user.twitter}
%p
  Birthdate: #{@user.birthdate}
%p
  Email: #{@user.email if @user.email}
= link_to 'Edit account', edit_user_path
