%h3 #{@user.name}
%p
  Bio: #{@user.bio}
%p
  Twitter: #{@user.twitter}
%p
  Birthdate: #{@user.birthdate}
%p
  Email: #{@user.email if @user.email}
= link_to 'Edit account', edit_user_path
%div
.row
  -@user.images.each do |image|
    .col-md-6
      =link_to image do
        =image_tag image.content.url :medium
		
%p
  views: #{@user.impressionist_count}