.page-header
  %h1
    =@user.name
    %small User Statistics

.panel-group#statistics-accordion
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{:data => {:toggle => "collapse", :parent => "#statistics-accordion"}, :href => "#global-stats"} Profile Statistics
    .panel-collapse.collapse.in#global-stats
      .panel-body
        %h3 Visits this month:
        #user-visits
        = render_chart @user_visits_chart, 'user-visits'

        %h3 Visits by country:
        #user-visits-by-country
        = render_chart @user_country_chart, 'user-visits-by-country'

        %h3 Visits by age:
        #user-visits-by-age
        = render_chart @user_age_chart, 'user-visits-by-age'

        %h3 Users who have visited this profile:
        = render @user.visitors

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{:data => {:toggle => "collapse", :parent => "#statistics-accordion"}, :href => "#image-stats"} Image Statistics
    .panel-collapse.collapse#image-stats
      .panel-body
        %h3 Combined visits this month:
        #images-visits
        = render_chart @images_visits_chart, 'images-visits'

        %h3 Combined visits by country:
        #images-visits-by-country
        = render_chart @images_country_chart, 'images-visits-by-country'
