= simple_form_for(@comment) do |f|
  = f.error_notification

  .form-inputs
    = f.text_area :content, placeholder: 'Add a comment...', class: 'form-control'
    = f.hidden_field :image, value: image_id

  .form-actions
    = f.button :submit, class: "btn btn-large btn-primary"
