.col-md-9
  %p= image_tag @image.content.url
.col-md-3.well
  %h2= @image.caption
  %p
    %b Tags:
    = render partial: 'tag', collection: @image.tag_list
  %p
    Average Rating (#{pluralize(@image.ratings.length, "vote")})
    #star.ratings
  %p
    Your Rating
    #user_star.ratings
  -if image_user_is_current_user?
    = link_to 'Edit', edit_image_path(@image)
    \|
    = link_to 'Stats', statistics_image_path(@image)
    \|
    = link_to 'Delete', image_path, method: :delete
  %p
    Posted by:
    = link_to "#{@user.name}", user_path(@image.user_id)
  %p
    = pluralize(@image.impressionist_count, 'view')
  %p
    = download_link(@image)
.col-md-9
  = render 'comment_form', image_id: @image.id
  - if @image.comments.any?
    %h3
      Comments
    %ol.comments
      = render @comments, image_page: true
    = will_paginate @comments
:javascript
  $(function() {
    $('#star').raty({
      readOnly: true,
      score: #{@image.average_rating},
      path: '/assets'
    });
    $('#user_star').raty({
      score: #{@rating.score},
      path: '/assets',
      click: function(score, evt) {
        console.log('sending score ', score)
        $.ajax({
          url: '/ratings/' + #{@rating.id},
          type: 'PATCH',
          data: { score: score }
        }).done(console.log);
      }
    });
  })