%p#notice= notice

%p
  %b Caption:
  = @image.caption

%p= image_tag @image.content.url

%p
  %b Tags:
  = render partial: 'tag', collection: @image.tag_list

= link_to 'Edit', edit_image_path(@image)
\|
= link_to 'Delete', image_path, :method => :delete
\|
= link_to 'Back', images_path
