%li= render 'layouts/navigation_search'
-if user_signed_in?
  %li.dropdown#fat-menu
    %a.dropdown-toggle{ href: '#', "data-toggle" => 'dropdown' }
      Account
      %b.caret
    %ul.dropdown-menu
      %li= link_to 'Profile', current_user
      %li= link_to 'Statistics', "/users/#{current_user.id}/statistics"
      %li= link_to 'Settings', "/users/edit"
      %li.divider
      %li= link_to 'Logout', destroy_user_session_path, :method=>'delete'
-else
  %li= link_to 'Sign up', new_user_registration_path
  %li= link_to 'Login', new_user_session_path
