%li= render 'layouts/navigation_search'
-if user_signed_in?
  %li.dropdown#fat-menu
    %a.dropdown-toggle{ href: '#', "data-toggle" => 'dropdown' }
      = current_user.name
      %b.caret
    %ul.dropdown-menu
      %li= link_to 'Profile', current_user
      %li= link_to 'Statistics', statistics_user_path(current_user)
      %li= link_to 'Settings', "/users/edit"
      %li.divider
      %li= link_to 'Log out', destroy_user_session_path, :method=>'delete'
-else
  %li= link_to 'Sign up', new_user_registration_path
  %li= link_to 'Log in', new_user_session_path
