!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Pyc'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Pyc'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag 'http://google.com/jsapi'
    = csrf_meta_tags
    = stylesheet_link_tag "theme", media: "all", "data-turbolinks-track" => true
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/progress_bar'
      .container
        = render 'layouts/messages'
        = yield
